body {
  font-family: 'Montserrat', 'serif';
  text-align: center;
}

/* h1, h2, h3, h4, h5, h6{
  font-weight: 900;
} */

/* p{
  color: #8f8f8f;
} */

.container-fluid {
  padding: 3% 15%;
}

.text-color-1 {
  color: #d86f0d;
}

.text-color-2 {
  color: #b6d889;
}
/* Sections */

.colored-section{
  background-color: #faf6ec;
}

.white-section{
  background-color: white;
}

/* Title Section */

#title, #about {
  text-align: left;
}

.title-img {
  width: 100%;
  border-radius: 100%;
}

/* Headings */
.big-heading {
  font-size: 3.2rem;
  font-family: "Ubuntu";
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
}

.nav-item {
  padding: 0 10px;
  text-align: right;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat";
}

/* About */
.about-text {
  line-height: 1.5;
}

.about-img {
  width: 80%;
}

/* Serviços */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.servicos-img {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  padding-top: 10%;
}

.feature-title{
  font-size: 1.5rem;
  padding-top: 10%;
}

/* Galeria */

#galeria {
  padding-left: 0;
  padding-right: 0;
}

.galeria-img {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

/* Depoimentos */

.testemonial-text{
  line-height: 1.5;
  font-size: 3rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text{
  line-height: 1.5;
  font-size: 3rem;
}

/* Contato */
.map {
  width: 100%;
}

/* Footer */

.footer-img{
  margin: 0 1% 2%;
}

@media (max-width: 1010px) {

  #title, #about{
    text-align: center;
  }
  .title-img {
    width:80%;
  }
  .about-text {
    font-size: medium;
  }

  .servicos-img {
    width: 50%;
    height: 80%;
    padding-top: 10%;
  }
}
