body {
  font-family: 'Montserrat', 'serif';
  text-align: center;
}

.container-fluid {
  padding: 5% 15% 8%;
}

.text-color-1 {
  color: #862B0D;
}

.text-color-2 {
  color: #B5C99A;
}

#footer, #depoimentos {
  background-color: #FFC95F;
}

/* Sections */

.colored-section{
  background-color: #FAEAB1;
}

.white-section{
  background-color: white;
}

/* Title Section */

#title, #about {
  text-align: left;
}

.title-img {
  width: 100%;
  border-radius: 100%;
}

/* Headings */
.big-heading {
  font-size: 3.2rem;
  font-family: "Ubuntu";
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
}

.nav-item {
  padding: 0 10px;
  text-align: right;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat";
}

/* About */
.about-text {
  line-height: 1.5;
}

.about-img {
  width: 80%;
}

/* Serviços */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.servicos-img {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  padding-top: 10%;
}

.feature-title{
  font-size: 1.5rem;
  padding-top: 10%;
}

/* Galeria */

#galeria {
  padding-left: 0;
  padding-right: 0;
}

.galeria-img {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

/* Depoimentos */

.testemonial-text{
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 3% 10% 10% 10%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.box-depoimentos {
  padding: 0% 10%;
}

/* Contato */
.map {
  width: 100%;
}

.contato-info{
  text-align: left;
  margin-bottom: 15%;
}

@media (max-width: 1010px) {

  #title, #about{
    text-align: center;
  }
  .title-img {
    width:80%;
  }
  .about-text {
    font-size: medium;
  }

  .servicos-img {
    width: 50%;
    height: 80%;
    padding-top: 10%;
  }

  .box-depoimentos {
    padding: 0% 0%;
  }

  .contato-info{
    text-align: center;
    margin-bottom: 10%;
  }
}
